.header {
	font-size: 2rem;
	text-align: center;
	padding: 0.5rem 0;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.category {
	font-size: 1.5rem;
	padding: 1rem;
	background-color: rgb(149, 212, 214);
}

.menu__item {
	padding-left: 3rem;
}

.menu__item a {
	text-decoration: none;
}

.menu__item img {
	width: 300px;
	height: auto;
}

.item__detail__wrapper {
	width: 50%;
	margin: auto;
	background-color: rgb(239, 253, 227);
}

.detail__img {
	width: 400px;
	height: auto;
	margin: auto;
}

.text__secondary {
	font-size: 1.15rem;
}

.text__secondary span {
	margin-left: 0.4rem;
}
