{% extends "base.html" %} {% block content %}
    <h1 class="header">Restaurant Menu</h1>
    <section class="container">
    {% for category in categories %}
        <h2 class="category">{{category.1}}</h2>
        {% for row in menu_list %} 
            {% if row.category == category.0 %}
                <div class="menu__item">
                    <a href="{% url 'menu_item' row.url %}">
                        <h3>{{row.item}}</h3>
                    </a>
                    <img src="{{row.image}}" alt="{{row.item}}"/>
                    <p class="text__secondary">Price: <span class="badge bg-primary rounded-pill">{{ row.price }}</span></p>
                    <p class="text__secondary">Ingredients: {{row.ingredients}}</p>
                    {% if row.status %}
                        <p class="text__secondary">Availability: Available</p>
                    {% else %}
                        <p class="text__secondary">Availability: Unvailable</p>
                    {% endif %}
                    <p class="text__secondary">Chef: {{row.chef}}</p>
                </div>
            {% endif %} 
        {% endfor %}
    {% endfor %}
    </section>
{% endblock %}
