<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Menu</title>
	</head>
	<body>
		<h1>Menu</h1>
        <section>
		{% for category in categories %}
            <h2>{{category.1}}</h2>
            {% for row in menu_list %} 
                {% if row.category == category.0 %}
                    <h3>{{row.item}}</h3>
                    <h3>Price: {{row.price}}</h3>
                    <h3>Ingredients: {{row.ingredients}}</h3>
                    <h3>Chef: {{row.chef}}</h3>
                    {% if row.status %}
                        <h3>Availability: Available</h3>
                    {% else %}
                        <h3>Availability: Unvailable</h3>
                    {% endif %}
                {% endif %} 
            {% endfor %}
        {% endfor %}
        </section>
	</body>
</html>
