<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Menu</title>
	</head>
	<body>
		<h1>Menu</h1>
		{% for category in categories %}
		<section>
			<h2>{{category.1}}</h2>
			{% for val in menu_list %} {% if val.category == category.0 %}
			<h3>{{val.item}}</h3>
			<h3>Price: {{val.price}}</h3>
			<h3>Ingredients: {{val.ingredients}}</h3>
			<h3>Chef: {{val.chef}}</h3>
			{% if val.status %}
			<h3>Availablity: Available</h3>
			{% else %}
			<h3>Availablity: Unvailable</h3>
			{% endif %} {% endif %} {% endfor %}
		</section>
		{% endfor %}
	</body>
</html>
