{% extends "base.html" %} {% block content %}
    <section class="container item__detail__wrapper">
        <h3>{{menu.item}}</h3>
        {% load static %}
        <img class="detail__img" src="/{{menu.image}}" alt="{{menu.item}}"/>
        <p class="text__secondary">Price: <span class="badge bg-primary rounded-pill">{{ menu.price }}</span></p>
        <p class="text__secondary">Ingredients: {{menu.ingredients}}</p>
        {% if menu.status %}
            <p class="text__secondary">Availability: Available</p>
        {% else %}
            <p class="text__secondary">Availability: Unvailable</p>
        {% endif %}
        <p class="text__secondary">Chef: {{menu.chef}}</p>
    </section>
{% endblock %}
